
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">
     <script src="Minefield.js"></script>
     <script src="Minefield1.js"></script>
</head>
<body>

<div ng-app="minefield1" id="minefield" ng-controller="MinefieldController1" ng-init="initstate()">
 
    <table class="gdtable" border="1">
        <tr ng-repeat="n in heightRange();">
            <td ng-repeat="m in widthRange();" class="gdtd">
                <button ng-class="show(state[n][m])" ng-click="reveal(n, m);">{{check(state[n][m], n, m)}}</button>
            </td>
        </tr>
    </table>
    </table>
    <br>

    <br>
    <table>
      <tr>
          <td><div id='cur_mode'></div></td>
                        <td><label for="height">Height</label></td>
                        <td><label for="width">Width</label></td>
                        <td><label for="mine">Mines</label></td>
                    </tr>
                    <tr>
                        <td><button type='button' id='start' ng-click="createTable()">Start!</button></td>
                        <td><input name="height" type="number" min="1" max="50" ng-model="height" placeholder="Please enter your value" /></td>
                        <td><input name="width" type="number" min="1" max="50" value="{{width}}" ng-model="width" /></td>
                        <td><input type='text' id='mine_num' ></td>
                        <td><select onchange="setDefault()" id='difficulty'>
                                <option value='beg'>Beginner</option>
                                <option value='int'>Intermediate</option>
                                <option value='adv'>Advanced</option>
                                <option value='cust'>Custom</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="range" min="1" max="50" value="{{height}}" ng-model="height" /> </td>
                        <td><input type="range" min="1" max="50" value="{{width}}" ng-model="width" /></td>
                        <td><input type='range' id='mine_in' min='1' max='100' value='0' onchange='grabNewVals()'></td>
                        
                    </tr>
                </table>

<br>          
</div>
</body>
</html>

